@import "../../../variables";

.home {
  min-height: 100vh;
  max-height: 100vh;

  .body {
    overflow: auto;

    md-button-toggle-group {
      margin-top: 20px;
    }

    md-list {
      width: 80%;
      max-width: 840px;

      @media (max-width: 590px) {
        width: 100%;
      }

      md-list-item {
        box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
        background: white;

        .header-user-circle {
          background-color: #F2F2F2;
          border-radius: 50%;
          height: 28px;
          width: 28px;
          margin-right: 16px;
        }

        .header-name {
          width: 184px;
        }

        .header-message {
          color: $secondaryText;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .header-message::before {
          content: '\2013';
          margin: 0 .333em;
        }

        .get-feedback {
          visibility: hidden;
        }
      }

      md-list-item:not(:first-child) {
        margin-top: 1px;
      }

      md-list-item:hover {
        cursor: pointer;

        .get-feedback {
          visibility: inherit;
        }
      }

      md-card {

        .comment-user-circle {
          background-color: #F2F2F2;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          margin-right: 20px;
        }

        img {
          height: 40px;
          width: 40px;
          border-radius: 20px;
          margin-right: 24px;
        }

        textarea {
          border: none;
          color: black;
          outline: none;
          font: inherit;
          width: 100%;
          margin: 10px 0 0 0;
          padding: 0;
          resize: none;
        }
      }
    }

    .create-competency {
      position: fixed;
      bottom: 0;
      right: 0;
      margin: 16px;
    }
  }
}
