<div class="home" fxLayout="column" fxLayoutAlign="start stretch">
  <md-toolbar fxFlex="none" color="primary">
    <span>toolbar title</span>
    <button md-button (click)="signOut()">sign out</button>
  </md-toolbar>
  <div fxFlex class="body" fxLayout="column" fxLayoutAlign="start center">
    <md-list fxFlex fxLayout="column" fxLayoutAlign="start stretch">

      <h3 mdSubheader *ngIf="hasRequests | async">Requests for feedback</h3>
      <ca-expansion-panel *ngFor="let request of currentUserRequests | async; let i = index"
                          [expansionState]="isActiveState(request.id, i)">
        <md-list-item class="expansion-panel-header" (click)="handleHeaderClicked(request.id)">
          <div class="header-user-circle" fxFlex="none" fxLayout="row" fxLayoutAlign="center center">
            {{request.evaluatee.displayName.slice(0,1)}}
          </div>
          <div class="header-name" fxFlex="none">
            {{request.evaluatee.displayName}}
          </div>
          <div fxFlex="none">{{request.competency.title}}</div>
          <div class="header-message" fxFlex>{{request.message}}</div>
        </md-list-item>
        <md-list-item (click)="handleHeaderClicked(request.id)">
          <div fxFlex="none">{{request.competency.title}}</div>
        </md-list-item>
        <md-card>
          <ca-competency-card [competency]="request.competency"></ca-competency-card>
        </md-card>
        <md-card fxLayout="row">
          <div class="comment-user-circle" fxLayout="row" fxLayoutAlign="center center">
            {{request.evaluatee.displayName.slice(0,1)}}
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="center start">
            {{request.message}}
          </div>
        </md-card>
        <md-card fxLayout="row">
          <img src="https://lh3.googleusercontent.com/-aqjLGyl1Jdg/AAAAAAAAAAI/AAAAAAAAAAA/APJypA0F3dwhL9RPYeOLpAmQqKKLcJEG6A/s64-c-mo/photo.jpg">
          <div fxFlex>
            <textarea autosize placeholder="Enter feedback here" [(ngModel)]="feedbackMessage"></textarea>
            <button md-raised-button color="primary" (click)="submitFeedback(request.competency.id, feedbackMessage, request.id)"
                    [disabled]="!feedbackMessage">send</button>
          </div>
        </md-card>
      </ca-expansion-panel>

      <h3 mdSubheader *ngIf="hasCompetencies | async">Your competencies</h3>
      <ca-expansion-panel *ngFor="let competency of currentUserCompetencies | async; let i = index"
                          [expansionState]="isActiveState(competency.id, i)">
        <md-list-item class="expansion-panel-header" (click)="handleHeaderClicked(competency.id)">
          <div fxFlex>
            {{competency.title}}
          </div>
          <!--<button class="get-feedback" md-button (click)="createRequestDialog($event, competency)">ask for feedback</button>-->
        </md-list-item>
        <md-list-item (click)="handleHeaderClicked(competency.id)">
          <div fxFlex>
            {{competency.title}}
          </div>
        </md-list-item>
        <md-card>
          <ca-competency-card [competency]="competency"></ca-competency-card>
        </md-card>
        <md-card *ngFor="let comment of competency.comments" fxLayout="column">
          <div class="sender">{{comment.from ? comment.from.displayName : 'old-name'}}</div>
          <div>{{comment.text}}</div>
        </md-card>
        <!-- ask nicole how it would make sense to ask for feedback -->
      </ca-expansion-panel>
    </md-list>

    <button class="create-competency" md-fab color="accent" (click)="createCompetency()">
      <i class="material-icons">add</i>
    </button>

  </div>
</div>
