.expansion-list-item {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);

  md-list-item {
    width: 100%;
    background: white;

    .primary-action {
      visibility: hidden;
    }
  }

  md-card {
    box-shadow: none;
    border-top: 1px solid #f3f3f3;

    img {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      margin-right: 24px;
    }

    textarea {
      border: none;
      color: black;
      outline: none;
      font: inherit;
      width: 100%;
      height: 30px;
      margin: 10px 0 0 0;
      padding: 0;
      resize: none;
    }

    textarea::placeholder {
      font: inherit;
    }
  }

}

.expansion-list-item.active,
.expansion-list-item.firstActive {
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}

.expansion-list-item:hover {

  md-list-item {
    cursor: pointer;

    .primary-action {
      visibility: inherit;
    }
  }
}
