<div class="expansion-list-item" [@expansionState]="expansionState" [ngClass]="expansionState" fxLayout="column">
  <md-list-item fxFlex="none" (click)="headerClicked($event)">
    <p fxFlex>{{expansionState}}</p>
    <button class="primary-action" md-button (click)="primaryActionClicked($event)">request feedback</button>
  </md-list-item>
  <div *ngIf="isActive" class="content">
    <md-card>
      <md-card-subtitle>Description</md-card-subtitle>
      <md-card-content>{{config.description}}</md-card-content>
    </md-card>
    <md-card *ngFor="let comment of config.comments" fxLayout="row">
      <img src="https://lh3.googleusercontent.com/-aqjLGyl1Jdg/AAAAAAAAAAI/AAAAAAAAAAA/APJypA0F3dwhL9RPYeOLpAmQqKKLcJEG6A/s64-c-mo/photo.jpg">
      <div>
        {{comment.text}} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt explicabo inventore ipsum? Ab alias architecto ea est eum, facilis ipsam minus veritatis. Beatae dicta maxime modi non nulla voluptas?
      </div>
    </md-card>
    <md-card fxLayout="row" fxLayoutAlign="start stretch">
      <img src="https://lh3.googleusercontent.com/-aqjLGyl1Jdg/AAAAAAAAAAI/AAAAAAAAAAA/APJypA0F3dwhL9RPYeOLpAmQqKKLcJEG6A/s64-c-mo/photo.jpg">
      <textarea autosize placeholder="Enter feedback here"></textarea>
    </md-card>
  </div>
</div>
